<nz-modal [(nzVisible)]="isVisible" [nzFooter]="null" nzTitle="Changement de mot de passe" (nzOnCancel)="handleCancel()" [nzWidth]="550" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent >
    <div nz-col [nzSpan]="20" [nzOffset]="2">
      <div style="background: #ECECEC;padding:30px;">
        <div nz-row [nzGutter]="24">
          <div nz-col [nzSpan]="24">
            <nz-card >
              <div nz-row [nzGutter]="24" >
                <div nz-col [nzSpan]="24">
                  <h2>Changememnt mot de passe</h2>
                </div>
              </div>
              <form nz-form [formGroup] = "formBulder" class="login-form" (ngSubmit)="updatePassword()">
                <nz-form-item>
                  <nz-form-control nzErrorTip="Ancien mot de passe">
                    <nz-form-label>Ancien mot de passe<span class="req"> *</span></nz-form-label>
                    <nz-input-group nzPrefixIcon="lock">
                      <input (keyup)="mustMatch()" type="password" nz-input formControlName="ancien" placeholder="Ancien mot de passe" />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-control nzErrorTip="Entrez votre mot de passe">
                    <nz-form-label>Nouveau mot de passe<span class="req"> *</span></nz-form-label>
                    <nz-input-group nzPrefixIcon="lock">
                      <input (keyup)="mustMatch()" type="password" nz-input formControlName="password" placeholder="Mot de passe" />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <nz-form-item>
                  <nz-form-control nzErrorTip="Entrez votre mot de passe">
                    <nz-form-label>Confirmation<span class="req"> *</span></nz-form-label>
                    <nz-input-group nzPrefixIcon="lock">
                      <input (keyup)="mustMatch()" type="password" nz-input formControlName="confirmation" placeholder="Confirmation" />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
                <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Valider</button>
              </form>
            </nz-card>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</nz-modal>
