p {
  margin: 0;
}
.login-form {
  max-width: 300px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

nz-form-item {
  margin-top: 1.5%;
}

.req {
  color: red;
}

button{
  margin-top: 10px;
}

h2{
  margin: 5px;
  background: #ECECEC;
  color: black;
  text-align: center;
}
